<h1>Roll some dice!</h1>


<form action="/process_rolls">
  <p><label for="dice_input">Number of dice: </label>
  <input type="text" id="dice_input" name="dice"></p>
  <p><label for="rolls_input">Number of rolls: </label>
  <input type="text" id="rolls_input" name="rolls"></p>
  <button>Submit</button>
</form>
